<div class="card">
    <div class="card-header" style="font-weight: 600; font-size: large; background-color: cornflowerblue; color: white;">
        MOVIE EDITION</div>
    <div class="card-boby">
        <div class="row">
            <div class="col-sm-4 text-center">
                <label for="image" class="mt-4">
                    <!-- <img ng-src="{{'/image/' + form.poster}}" alt="" style="max-width: 100%; max-height: 50%;" class="img-fluid"> -->
                    <div class="preview-image">
                        <img ng-src="{{folder}}{{form.poster}}" alt="img" style="max-width: 100%; max-height: 50%;" class="img-fluid">
                    </div>
                </label>
            </div>
            <div class="col-sm-8 mt-3">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Name</div>
                        <input ng-model="form.name" class="form-control" style="width: 95%;">
                    </div>
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Age</div>
                        <input ng-model="form.age" class="form-control" style="width: 95%;">
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Image</div>
                        <input type="file" class="form-control" id="poster" style="width: 95%;"
                        onchange="angular.element(this).scope().imageChanged(this.files)">
                    </div> -->
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Image</div>
                        <input type="file" class="form-control" id="poster" style="width: 95%;" onchange="angular.element(this).scope().imageChanged(this)">
                        <!-- <input type="file" class="form-control" id="poster" style="width: 95%;"
                         onchange="angular.element(this).scope().imageChanged(this.files)"> -->
                    </div>
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Category</div>
                        <select  ng-model="form.category.id" class="form-control" style="width: 95%;">
                            <option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Release Date</div>
                        <input ng-model="form.releaseDate" type="date" class="form-control" style="width: 95%;">
                    </div>
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Duration</div>
                        <input ng-model="form.duration" type="number" class="form-control" style="width: 95%;">                       
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Country</div>
                        <input ng-model="form.country" type="text" class="form-control" style="width: 95%;">
                    </div>
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Info</div>
                        <input ng-model="form.description" type="text" class="form-control" style="width: 95%;">                       
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div style="font-weight: 500;">Trailer</div>
                        <input ng-model="form.trailer" type="text" class="form-control" style="width: 100%;">     
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <div style="font-weight: 500;">Movie Content</div>
                        <textarea ng-model="form.movieContent" class="form-control" style="width: 100%;" rows="4"></textarea>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-click="create()" class="btn" ng-disabled="createBtn">
            <i class="fa fa-plus" aria-hidden="true"></i> Create
        </button>
        <button ng-click="update()" class="btn" ng-disabled="updateBtn">
            <i class="fa fa-stack-overflow" aria-hidden="true"></i> Save
        </button>
        <button ng-click="delete(form)" class="btn" ng-disabled="updateBtn">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
        </button>
        <button ng-click="reset()" class="btn btn-info">
            <i class="fa fa-refresh" aria-hidden="true"></i> Reset
        </button>
    </div>
</div>