<div class="card  mt-3">
    <div class="card-header" style="font-weight: 600; font-size: large; background-color: cornflowerblue; color: white;">
        AUTHORIZING</div>
    <table class="table table-border">
        <thead class="bg-success" style="font-variant: small-caps;">
            <tr>
                <th></th>
                <th ng-repeat="role in roles" class="text-center">{{role.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="acc in admins">
                <td>{{acc.Name}}</td>
                <td ng-repeat="role in roles" class="text-center">
                    <input type="checkbox" ng-checked="authority_of(acc, role)" 
                        ng-click="authority_changed(acc, role)">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="site-body">
        <div class="alert-container" ng-show="showAlert">
            <div class="custom-alert">
                <p>{{alertMessage}}</p>
                <button class="close-btn" ng-click="closeAlert()">Close</button>
            </div>
        </div>
    </div>
</div>