<div xmlns:th="http://www.thymeleaf.org">
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="text-center"><br>
          <h4 class="modal-title" id="myModalLabel"><strong>Đăng nhập</strong> </h4>
        </div>
        <div class="modal-body">
          <form class="form-register row" th:action="@{/security/login}" method="post" ng-controller="login-ctrl">
            <div class="col-12">
              <div class="form-group">
                <input type="text" name="username" class="form-control" id="" placeholder="Tên đăng nhập"
                ng-model="username" ng-change="checkInput()">
                <small id="helpId" class="form-text text-dark">Tên đăng nhập</small>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu"
                ng-model="password" ng-change="checkInput()">
                <small id="helpId" class="form-text text-dark">Mật khẩu</small>
              </div>
            </div>
            <div class="col" align="center">
              <button class="btn btn-primary col-md-12" ng-disabled="isDisabled">Đăng nhập</button> <br>
              <button  type="button" class="btn btn-default text-center col-md-12" data-dismiss="modal">Quên mật khẩu</button><br>
              <i class="text-right pull-right" th:text="${message}" id="error-message"></i>
            </div>
          </form>
        </div>
        <div class="modal-footer">

        </div>

      </div>
    </div>

  </div>

</div>