<div class="container" >
        <div class="title">Đổi Mật Khẩu</div>
        <form id="changePassword" ng-controller="password_ctrl">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nhập Mật Khẩu Cũ</span>
                    <input type="password" id="oldPassword" name="oldPassword" ng-model="form.oldPassword" required>
                </div>
                <div class="input-box">
                    <span class="details">Mật Khẩu Mới</span>
                    <input type="password" id="newPassword" name="newPassword" ng-model="form.newPassword" required>
                </div>
                <div class="input-box">
                    <span class="details">Nhập Lại Mật Khẩu Mới</span>
                    <input type="password" id="confirmPassword" name="confirmPassword" ng-model="form.confirmPassword" required>
                </div>
            </div>
            <button type="button" ng-click="changePassword()" >Lưu</button>
            <Button>Huy</Button>
        </form>
    </div>