<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img src="/image/logo ticketmen_preview_rev_1.png" alt=""
                        class="img-fluid logo-footer"></a>
                <!-- <div class="footer-about">
                    <p>TicketMen mang đến cho bạn trải nghiệm tuyệt vời với sự lôi cuốn từ nhưng bộ phim đầy tính hấp dẩn và lảng mạng.</p>
                </div> -->
              <div class="address-links">
                <li><a href=""><i class="fa-solid fa-phone"></i> +84 123456789</a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i> ticketmen123@gmail.com</a></li>
              </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h2>Useful Links</h2>
                    <img src="" alt="" class="img-fluid">
                    <div class="use-links">
                        <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <li><a href="about.html"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                        <li><a href="gallery.html"><i class="fa-solid fa-angles-right"></i> Gallery</a></li>
                        <li><a href="contact.html"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h2>Follow Us</h2>
                    <img src="" alt="">
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>
                    <img src="" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> 137 Nguyển Thị Thập-Đà Nẳng</li>
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Tòa nhà QTSC9-Tô Ký-TP.Hồ Chí Minh
                        </li>
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> 13 Trịnh Văn Bô-Nam Từ Liêm-Hà Nội
                        </li>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>
<!-- footer section end -->
<!-- footer copy right section start -->
<section id="copy-right">
    <div class="copy-right-sec">2023 <i class="fa-solid fa-copyright"></i>
        FPT Polytechnic &copy; Nhóm 3 - TicketMen.


    </div>

</section>
<!-- footer copy right section end -->