<div class="menu" xmlns:th="http://www.thymeleaf.org">
    <a class="logo" href="#">
        <img src="/image/logo ticketmen_preview_rev_1.png" alt="">
    </a>
    <div class="menu-con">
        <div class="menu-item">
            <a href="#">Phim</a>
        </div>
        <div class="menu-item">
            <a href="#!showtime">Lịch Chiếu</a>
        </div>
        <div class="menu-item">
            <a href="#!discount">Khuyến mãi</a>
        </div>
        <div class="menu-item">
            <a href="#!qna">Hỏi & Đáp</a>
        </div>
        <div class="menu-item">
            <a href="#!news">Tin Tức</a>
        </div>
        <div class="menu-item">
            <a href="#!about">Dịch Vụ</a>
        </div>
        <div class="menu-item">
            <a href="#!contact">Liên Hệ</a>
        </div>
    </div>
</div>