<div class="movies-selecting text-center mt-3" xmlns:th="http://www.thymeleaf.org">
    <ul class="nav justify-content-center">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-toggle="tab" href="" role="tab" data-target="#edit"
                aria-selected="true">Phim đang chiếu</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-toggle="tab" href="" role="tab" data-target="#list" aria-selected="false">Phim sắp
                chiếu</a>
        </li>
    </ul>
    <div class="tab-content" id="myContent">
        <div class="tab-pane fade show active" id="edit">
            <h1>PHIM ĐANG CHIẾU</h1>
            <div class="container mt-5">
                <!-- <div class="row">
                    <div class="col-3" th:each=" m: ${items}">
                        <div class="card">
                            <img th:src="@{|/image/${m.poster}|}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${m.name}"></h5>
                                <p class="card-text">
                                </p>
                                <a th:href="@{|/movie/detail/${m.id}|}" class="btn btn-primary">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- // -->
                <div class="row">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- <ol class="carousel-indicators" style="margin-top: -200px;">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol> -->

                        <!-- Wrapper for slides -->

                        <div class="carousel-inner" style="margin-bottom: 200%">
                            <div class="item active row">
                                <div class="col " th:each=" m: ${items}" th:limit="4">
                                    <div class="col-md-3 movie-item ">
                                        <img th:src="@{|/image/${m.poster}|}" alt="Los Angeles" style="width: 100%" />
                                        <h5 class="card-title" th:text="${m.name}"></h5>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="
                        margin-left: -10%;
                        width: 10%;
                        height: 0%;
                        color: black;
                        margin-top: 15%;
                      ">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="
                        margin-right: -10%;
                        width: 10%;
                        height: 0%;
                        color: black;
                        margin-top: 15%;
                      ">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- // -->
            </div>

        </div>
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="videoList-tab">
            <h1>PHIM SẮP CHIẾU</h1>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="/image/khuyến mãi 1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">NHỮNG BÍ MẬT CỦA DUMBLEDORE</h5>
                                <p class="card-text">
                                </p>
                                <a href="#" class="btn btn-primary">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/image/khuyenmai2.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Siêu Lừa Gặp Siêu Lầy</h5>
                                <p class="card-text">


                                </p>
                                <a href="#" class="btn btn-primary">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="/image/khuyenmai3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Lật Mặt 6</h5>
                                <p class="card-text">Miêu tả sản phẩm 3.</p>
                                <a href="#" class="btn btn-primary">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>