<link rel="stylesheet" href="/CSS/slideCSS/bootstrap.min.css" type="text/css">
    <!-- <link rel="stylesheet" href="/CSS/slideCSS/font-awesome.min.css" type="text/css"> -->
    <link rel="stylesheet" href="/CSS/slideCSS/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/CSS/slideCSS/style.css" type="text/css">

<div  xmlns:th="http://www.thymeleaf.org">
    
    <!-- Mua vé online -->
    <div class="container col-10">
        <h2>PHIM MỚI</h2>
        <div class="row" style="">
            <div class="categories__slider owl-carousel" style="z-index: 0;">
                <div class="col-lg-3" th:each="movie : ${items}">
                    <a th:href="@{/admin}">
                        <img class="categories__item set-bg" th:src="@{|/image/upload/${movie.poster}|}" style="height: 100%;">
                        <!-- <h5><a href="#" th:text="${movie.name}">Fresh Fruit</a></h5> -->
                    </img>
                    </a>
                    
                </div>
                
                
            </div>
        </div>
    </div>
    <script src="/JS/slidejs/jquery-3.3.1.min.js"></script>

    <script src="/JS/slidejs/jquery.slicknav.js"></script>

    <script src="/JS/slidejs/owl.carousel.min.js"></script>
    <script src="/JS/slidejs/main.js"></script>
</div>