<style>
    .btn2 {
        margin-top: 35px;
        margin-left: 20px;
        padding: 0;
        height: 40px;
        font-weight: 600;
        color: white;
        border-radius: 5px;
        background-color: orangered;
    }

    .btn2:hover{
        color: #ff6600;
        background-color: white;
    }
</style>
<div id="carouselExampleIndicators" class="justify-content-center mt-2" data-ride="carousel"
    xmlns:th="http://www.thymeleaf.org">

    <img src="/image/anh.jpg" alt="" width="100%">

    <div class="container-fluid row justify-content-center" style="width: 100%;" ng-controller="fastOrder-ctrl">
        <div class="ticket-buying mt-3 text-center col-12">
            <h1 style="color:black;">
                <i class="fa-solid fa-ticket fa-beat" style="color: #ff6600;"></i>
                Mua Vé Nhanh
            </h1>
        </div>
        <div class="col-2"></div>
        <ul class=" row col-7 justify-content-center" style="color:black ;">
            <li class="col-4" style="">
                <h4><strong>Chọn Phim</strong></h4>
                <select ng-model="selectedMovie" class="form-control" style="width: 95%; "
                    ng-change="findDay(selectedMovie)">
                    <option value="">Chọn phim</option>
                    <option ng-repeat="item in items" value="{{item.id}}"><strong>{{item.name}}</strong></option>
                </select>
            </li>
            <li class="col-4" style="">
                <h4><strong>Chọn Ngày</strong></h4>
                <select ng-model="selectedDay " class="form-control" style="width: 95%;"
                    ng-change="findTime(selectedDay,selectedMovie)">
                    <option value="">Chọn ngày</option>
                    <option ng-repeat="ticket in ticket" value="{{ticket.date }}">
                        {{ticket.date | date : 'EEEE ,dd-MM-yyyy'}}</option>
                </select>
            </li>
            <li class="col-4" style="">
                <h4><strong>Chọn Giờ</strong></h4>
                <select ng-model="selectedMovie2" class="form-control" style="width: 95%;">
                    <option value="">Chọn giờ</option>
                    <option ng-repeat="time in time" value="{{time.id}}">{{time.time}}</option>
                </select>
            </li>

        </ul>
        <button class="col-1 btn2 btn" ng-click="goToSelect(selectedMovie2)"
             ng-disabled="!selectedMovie || !selectedDay || !selectedMovie2" >ĐẶT VÉ</button>
        <div class="col-2"></div>

    </div>


    <script>
        // JavaScript để thay thế dropdown-toggle khi click vào dropdown-item
        const dropdownButtons = document.querySelectorAll(".btn-chon-phim");
        const dropdownMenus = document.querySelectorAll(".dropdown-menu");

        dropdownButtons.forEach((button, index) => {
            const dropdownItems = dropdownMenus[index].querySelectorAll(".dropdown-item");
            dropdownItems.forEach(item => {
                item.addEventListener("click", function () {
                    button.innerText = item.querySelector(".detail p").innerText;
                });
            });
        });
    </script>
</div>