<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
    <meta charset="UTF-8">
    <title>Menu của tôi</title>
    <link rel="stylesheet" href="/CSS/index.css">
    <!-- AngularJS-->
    <head>
        <meta charset="UTF-8">
        <title>Menu của tôi</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/CSS/index.css">
        <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
        <script src="/JS/SlideShow.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
</head>

<body>
    <div style="background-image: url(/image/nen1.jpg); background-size: contain;">
        <!-- Thanh Menu-->
        <div th:replace="/layout/_menu.html"></div>
        <!--noi dung Bị ẨN NHA ":))" ĐỪNG XÓA-->
        <div style="height: 100px;">

        </div>
        <!-- -->
        <!-- Đăng Nhập - Đăng Ký-->
        <div class="login">
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <!-- Hiển thị nội dung cho người dùng có vai trò ADMIN -->
                <p>Chào mừng Admin!</p>
            </div>

            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                <!-- Hiển thị nội dung cho người dùng có vai trò USER -->
                <p>Chào mừng User!</p>
            </div>
           
            <th:block th:unless="${#request.remoteUser}">
                <ul>
                    <img src="/image/logodangnhap_preview_rev_1.png" alt="Logo" class="logo-login">
                    <button type="button" data-toggle="modal" data-target="#myModal2" class="btn-login">Đăng
                        ký
                    </button>
                </ul>

                <ul>
                    <img src="/image/logodangky_preview_rev_1.png" alt="Logo" class="logo-login">
                    <button id="loginButton" data-toggle="modal" data-target="#myModal1" class="btn-login">Đăng
                        nhập</button>
                </ul>
            </th:block>
        </div>
        <script>
            $(document).ready(function () {
                // Chọn nút "Đăng nhập" bằng jQuery
                var loginButton = $('#loginButton');

                // Thêm sự kiện click lên nút "Đăng nhập" bằng jQuery
                loginButton.on('click', function () {
                    // Sử dụng window.history.pushState để thay đổi URL
                    window.history.pushState({}, 'Login', '/security/login/form');
                });


            });

            // Bắt sự kiện khi modal được ẩn
            $(document).ready(function () {
                var myModal = $('#myModal1');
                var previousPath = window.location.pathname; // Lưu đường dẫn trước đó


                myModal.on('hidden.bs.modal', function () {
                    // Khi modal bị ẩn, thực hiện các thay đổi bạn muốn ở đây
                    window.history.pushState({}, 'Previous Path', previousPath);

                });
            });


        </script>

        <!-- Button trigger modal -->
        <!--Modal-->
        <!-- Modal DANG NHAP-->
        <div th:replace="/security/login.html"></div>
        <!-- Modal DANG KÝ-->
        <div th:replace="/security/register.html"></div>

        <!-- Slide Show-->
        <div th:replace="/layout/_slideshow.html"></div>

        <div style="background-image: url(image/nen1.jpg); height: 10px;"><br></div>
        <!-- Ticket Select-->
        <div th:replace="/layout/_select.html"></div>
        <div style="background-image: url(image/nen1.jpg); height: 10px;"><br></div>
        <!--Content -->
        <div th:replace="${main}"></div>
        <!--Danh sách phim -->
        <div style="background-image: url(image/nen1.jpg); height: 10px;"><br></div>
    </div>
    <div th:replace="/layout/_footer.html"></div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>