<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
    <meta charset="UTF-8">
    <title>Menu của tôi</title>
    <link rel="stylesheet" href="/CSS/index.css">
    <!-- AngularJS-->
    <head>
        <meta charset="UTF-8">
        <title>Menu của tôi</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/CSS/index.css">
        <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <!-- <link rel="stylesheet" href="/TicketMen/datn/src/main/resources/static/CSS/fontawesome-free-6.2.1-web/css/all.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
        <script src="/JS/SlideShow.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/JS/index.js"></script>

        <!-- menu -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    
    </head>
</head>

<body ng-app="myApp" style="background-color: bisque;">
    <div style="background-size: cover; background-repeat: no-repeat;margin-bottom: 10%;">
        <!-- Thanh Menu-->
        <div th:replace="/layout/_menu.html"></div>

        <div style="height: 80px;">

        </div>
        <!-- -->
        <!-- Đăng Nhập - Đăng Ký-->
        <div class="login" style="background-color:bisque">
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <!-- Hiển thị nội dung cho người dùng có vai trò ADMIN -->
                <p>Chào mừng Admin!</p>
            </div>

            <div th:if="${#authorization.expression('hasRole(''USER'')')}">
                <!-- Hiển thị nội dung cho người dùng có vai trò USER -->
                <p>Chào mừng User!</p>
            </div>
           
            <th:block th:unless="${#request.remoteUser}">
                <ul>
                    <img src="/image/logodangnhap_preview_rev_1.png" alt="Logo" class="logo-login">
                    <button  data-toggle="modal" data-target="#myModal2" class="btn-register" style="width: 130px;"><strong>Đăng
                        ký</strong> 
                    </button>
                </ul>

                <ul>
                    <img src="/image/logodangky_preview_rev_1.png" alt="Logo" class="logo-login">
                    <button id="loginButton" data-toggle="modal" data-target="#myModal1" class="btn-login" style="width: 130px;"><strong>Đăng
                        nhập</strong> </button>
                </ul>
            </th:block>
            <div class="input-group" >
                <div  >
                    <button style="background-color: bisque; float: right;" class="btn" type="button" id="button-addon2">Tìm kiếm</button>
                  </div>
                <input style="width: 20%; z-index: inherit;" type="text" class="form-control float-right" placeholder="Tìm kiếm phim"
                     aria-label="Tìm kiếm phim" aria-describedby="button-addon2">
                
            </div>
        </div>
        <div hidden id="notification">[[${message}]]</div>
        <script>
            $(document).ready(function () {
                // Chọn nút "Đăng nhập" bằng jQuery
                var loginButton = $('#loginButton');
                // Thêm sự kiện click lên nút "Đăng nhập" bằng jQuery
                loginButton.on('click', function () {
                    // Sử dụng window.history.pushState để thay đổi URL
                    window.history.pushState({}, 'Login', '/security/login/form');
                });

                // Bắt sự kiện khi modal được ẩn
                var myModal = $('#myModal1');
                var previousPath = window.location.pathname; // Lưu đường dẫn trước đó


                myModal.on('hidden.bs.modal', function () {
                    // Khi modal bị ẩn, thực hiện các thay đổi bạn muốn ở đây
                    window.history.pushState({}, 'Previous Path', previousPath);

                });
                //Thông báo đăng nhập
                var noti = $('#notification').text();
                if (noti.length > 0) {
                    alert(noti);
                }
            })
        </script>

        <!-- Button trigger modal -->
        <!--Modal-->
        <!-- Modal DANG NHAP-->
        <div th:replace="/security/login.html"></div>
        <!-- Modal DANG KÝ-->
        <div th:replace="/security/register.html"></div>

        <!-- Slide Show-->
        <div th:replace="/layout/_slideshow.html"></div>


        <!-- Ticket Select-->
        

        <!--Content -->
        <div th:replace="${main}"></div>
        <!--Danh sách phim -->

    </div>
    <div th:replace="/layout/_footer.html"></div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>