<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
    
    <link rel="stylesheet" href="/CSS/index.css">
    <!-- AngularJS-->

    <meta charset="UTF-8">
    <title>Ticketmen</title>
    <link rel="icon" href="/image/logo ticketmen_preview_rev_1.png" type="image/x-icon" sizes="16x16">
    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <script src="https://cdn.rawgit.com/siddii/angular-timer/0.5.0/dist/angular-timer.js"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/JS/index.js"></script>
    <script src="/JS/moment.js"></script>
    <script src="/JS/moment-with-locales.js"></script>


    <!-- menu -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .movie-list-container {
            display: flex;
            flex-direction: column;
        }
    
        .panel {
            margin-bottom: 10px; /* Cách giữa giữa các phần tử */
            /* Thêm các thuộc tính CSS khác nếu cần */
        }
    
        .list-group-item {
            /* Thêm các thuộc tính CSS cho mỗi phần tử trong danh sách */
        }
    </style>

</head>

<body ng-app="myApp" style="background-color: rgb(239, 239, 239);">
    <div style="background-size: cover; background-repeat: no-repeat;margin-bottom: 10%;">
        <!-- Thanh Menu-->
        <div th:replace="/layout/_menu.html"></div>

        <div style="height: 85px;">

        </div>
        
        <!-- -->
        <!-- Đăng Nhập - Đăng Ký-->
        <div class="login" style="background-color:white;">
            <div style="width: 80%; margin-left: 1%; position: absolute; right: 20%; z-index: 0;">
                <!-- Hiển thị nội dung cho người dùng có vai trò ADMIN -->
                <!-- <p style="font-size: large; font-weight: 600;"></p> -->
                <marquee behavior="scroll" direction="left" style="font-size: medium; font-weight: 500; color: orangered;">
                    Chào mừng bạn đến với website bán vé online của rạp phim TicketMen.
                </marquee>
            </div>

            <div style="z-index: 0; display: inline-flex; background-color: white; width: 30%;">
                <th:block th:unless="${#request.remoteUser}">
                    <ul>
                        <img src="/image/logodangnhap_preview_rev_1.png" alt="Logo" class="logo-login">
                        <button data-toggle="modal" data-target="#myModal2" class="btn-register" style="width: 130px;"><strong>Đăng ký</strong>
                        </button>
                    </ul>
                    <ul>
                        <img src="/image/logodangky_preview_rev_1.png" alt="Logo" class="logo-login">
                        <button id="loginButton" data-toggle="modal" data-target="#myModal1" class="btn-login" style="width: 130px;"><strong>Đăng nhập</strong> </button>
                    </ul>
                </th:block>
            </div>
            <div style="height: 85px;">

            </div>
            <div ng-app="searchApp" ng-controller="MovieController" class="search-container">
                <div class="input-container">
                    <button style="background-color: white; height: 34px;" class="btn" type="button" id="button-addon2" ng-click="search()">
                        <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                    </button>
                    <input type="text" class="form-control" placeholder="Tìm kiếm phim" aria-label="Tìm kiếm phim" id="searchInput" ng-model="searchInput">


                    <div id="searchResults" class="search-results" style="position: absolute; top:50px; z-index:999;
                     right: 70px; background: white; color:black; height: 20rem; width: 40rem;">

                        <div class="movie-list-container">
                            <div class="panel panel-primany" ng-repeat="movie in displayedResults">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action" title="{{ movie.name }}">{{ movie.name }} </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>



        </div>
        <div hidden id="notification">[[${message}]]</div>
        <!-- <div style="text-align:center; font-size:30px;"><a href='#' title="Back to top">&#710;</a></div> -->
        <script>
            $(document).ready(function() {
                // Chọn nút "Đăng nhập" bằng jQuery
                var loginButton = $('#loginButton');
                // Thêm sự kiện click lên nút "Đăng nhập" bằng jQuery
                loginButton.on('click', function() {
                    // Sử dụng window.history.pushState để thay đổi URL
                    window.history.pushState({}, 'Login', '/security/login/form');
                });

                // Bắt sự kiện khi modal được ẩn
                var myModal = $('#myModal1');
                var previousPath = window.location.pathname; // Lưu đường dẫn trước đó


                myModal.on('hidden.bs.modal', function() {
                    // Khi modal bị ẩn, thực hiện các thay đổi bạn muốn ở đây
                    window.history.pushState({}, 'Previous Path', previousPath);

                });
                //Thông báo đăng nhập
                var noti = $('#notification').text();
                if (noti.length > 0) {
                    Swal.fire({
                        icon: "info",
                        title: noti,
                        theme: 'bootstrap 4',
                    });
                }

                //back to top

            })
        </script>

        <!-- Button trigger modal -->
        <!--Modal-->
        <!-- Modal DANG NHAP-->
        <div th:replace="/security/login.html"></div>
        <!-- Modal DANG KÝ-->
        <div th:replace="/security/register.html"></div>




        <!-- Ticket Select-->


        <!--Content -->
        <div th:replace="${main}"></div>
        <!--Danh sách phim -->
        <div th:replace="/layout/_slide.html"></div>
    </div>

    <div th:replace="/layout/_footer.html"></div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // kéo xuống khoảng cách 500px thì xuất hiện nút Top-up
        var offset = 500; // thời gian di trượt 0.75s ( 1000 = 1s ) 

        var duration = 750;
        $(function() {
            $(window).scroll(function() {
                if ($(this).scrollTop() > offset) $('#top-up').fadeIn(duration);
                else $('#top-up').fadeOut(duration);
            });
            $('#top-up').click(function() {
                $('body,html').animate({
                    scrollTop: 0
                }, duration);
            });
        });
    </script>
    <div title="Về đầu trang" id="top-up"> <i class="fa-solid fa-2x fa-circle-arrow-up"></i></div>
</body>

</html>