body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* Đưa trang vào giữa màn hình theo chiều ngang */
    align-items: center;
    /* Đưa trang vào giữa màn hình theo chiều dọc */
    height: 100vh;
    /* Chiều cao của trang bằng toàn bộ chiều cao của màn hình */
    margin: 0;
    /* Loại bỏ khoảng trắng mặc định */
}

.flex {
    display: flex;
    flex-direction: row;
    /* Hiển thị các phần tử con theo chiều ngang */
    justify-content: space-between;
    /* Căn cách giữa "cinema-room" và "booking-summary" */
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

.cinema-room {
    text-align: center;
    margin-top: 20px;
    max-width: 60%;
    /* Điều chỉnh chiều rộng tối đa của "cinema-room" */
    text-align: center;
}

h1 {
    font-size: 24px;
}

.screen {
    background-image: url('http://pixner.net/boleto/demo/assets/images/movie/screen-thumb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #151414;
    padding: 4px;
    max-width: 400px;
    text-align: center;
}

.seating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.seats {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

.seat {
    width: 30px;
    height: 30px;
    background: #ccc;
    margin: 5px;
    cursor: pointer;
}

.seat.selected {
    background: #f5a623;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.legend-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.legend-item-text {
    white-space: nowrap;
}

.legend-item.occupied .legend-item-icon {
    background: #f5a623;
}

.legend-item.available .legend-item-icon {
    background: #ccc;
}

.action-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.action-button:hover {
    background-color: #0056b3;
}

.booking-summary {
    max-width: 48%;
    /* Điều chỉnh chiều rộng tối đa của "booking-summary" */
    text-align: left;
    margin: 50px;
}

.showtimes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: #007BFF;
    /* Màu nền */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.showtime-button {
    background-color: #fff;
    /* Màu nền nút */
    color: #007BFF;
    /* Màu chữ nút */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.showtime-button:hover {
    background-color: #0056b3;
    /* Màu nền khi di chuột qua */
    color: #fff;
    /* Màu chữ khi di chuột qua */
}

.showtime-button:focus {
    outline: none;
}