<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main style="margin-top: 3%;">
        <div class="text-center" style="color: black;"><h2><strong>THÀNH VIÊN</strong></h2></div>
        <div class=" container-fluid">
            
            <div id="myCarousel" class="carousel slide container" data-ride="carousel" >
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-6 movie-item ">
                                <img src="/image/vip.jpg" alt="Los Angeles" style="width:100%" />
                                <h3 class="card-title" style="margin-bottom: 10%;"></h3>
                            </div>
                            <div class="col-6 movie-item ">
                                <img src="/image/vip.jpg" alt="Los Angeles" style="width:100%" />
                                <h3 class="card-title" style="margin-bottom: 10%;"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6 movie-item ">
                                <img src="/image/vip.jpg" alt="Los Angeles" style="width:100%" />
                                <h3 class="card-title" style="margin-bottom: 10%;"></h3>
                            </div>
                            <div class="col-6 movie-item ">
                                <img src="/image/vip.jpg" alt="Los Angeles" style="width:100%" />
                                <h3 class="card-title" style="margin-bottom: 10%;"></h3>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="
                      margin-left: -13%;
                      width: 10%;
                      height: 0%;
                      color: black;
                      margin-top: 15%;
                    ">

                    <span><i class="fa-solid fa-star fa-2xl" style="color: d14bcf;"></i></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next" style="
                      margin-right: -11%;
                      width: 10%;
                      height: 0%;
                      color: black;
                      margin-top:15%;
                    ">

                    <span><i class="fa-solid fa-star fa-2xl" style="color: d14bcf;"></i></span>
                </a>
            </div>
            <div class="promotion-list-content container"style="color: white;">
                <div class="title">
                    <h2 style="color: black;"><strong>CÁC ƯU ĐÃI</strong></h2>
                </div>
                <br>
                <div class="row" style="border: 1px solid black;background-color: rgb(58, 41, 58);">
                    <div class="">
                        <div>
                            <a>
                                <img src="../image/thu2.png" alt=""  width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <h3>
                            <Strong>Thứ Hai</Strong> 
                        </h3>
                        <h4>
                            <p>
                            - Áp dụng vào các buổi diển vào thứ hai.
                            </p>
                            <p>
                            - Giá vé ưu đãi :45.000đ/vé 2D và 70.000đ/vé 3D.
                            </p>
                            <p>
                            - Lưu ý: Không áp dụng cho các ngày lễ/tết.
                            </p>
                        </h4>
                    </div>
                </div>

                <div class="list-wrap row" style="border: 1px solid black;background-color: rgb(58, 41, 58);">
                    <div class="">
                        <div class="">
                            <a>
                                <img src="../image/kk.png" alt=""  width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <h3>
                            3<strong> Này Hội Thành Viên</strong> 3
                        </h3>
                        <h4>
                            <p>
                            -Thứ Tư hàng tuần, Hội viên Ticketmen được ưu đãi giá
                                vé
                                cho cả C'VIP và C'FRIEND3
                            </p>
                            <p>
                            - Giá vé: 45.000đ/vé 2D và 70.000đ/vé 3D
                            </p>
                            <p>
                            - Giảm trực tiếp 10% và 15% trên hóa đơn đồ ăn và đồ
                                uống
                                cho C'FRIEND và C'VIP tương ứng
                            </p>
                        </h4>
                    </div>
                </div>

                <div class="list-wrap row"style="border: 1px solid black;background-color: rgb(58, 41, 58);">
                    <div class="">
                        <div class="">
                            <a>
                                <img src="../image/uu.png" alt="" width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <h3>
                            <strong>TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG</strong>
                        </h3>
                        <h4>
                            <p>
                            ÁP DỤNG MỨC GIÁ 45K / VÉ 2D - CẢ TUẦN - TOÀN HỆ THỐNG
                            
                            </p>
                            <p>
                           
                                ✔️ KHÔNG đắn đo về giá vé<br>
                                ✔️ KHÔNG nhức đầu nghĩ điểm hẹn cuối tuần<br>
                                ✔️ KHÔNG cần miệt mài lựa chọn phim
                            
                            </p>
                            <p>
                            Áp dụng dành cho giáo viên, giảng viên, học sinh,
                                sinh viên và thanh niên dưới 22 tuổi, trên toàn hệ thống.
                            </p>
                            <p>
                                LƯU Ý:<br>

                                - Vui lòng mua TRỰC TIẾP TẠI RẠP và xuất trình thẻ HSSV-GV hoặc CMND có dán ảnh và còn
                                hiệu
                                lực khi mua vé.<br>

                                - Mỗi thẻ mua được một vé.
                            </p>
                        </h4>
                    </div>
                </div>
                <div class="list-wrap row"style="border: 1px solid black;background-color: rgb(58, 41, 58);">
                    <div class="">
                        <div class="">
                            <a>
                                <img src="../image/km4.jpg" alt=""  width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        
                            <h3 ><strong>KHUYẾN MÃI TẠI MỐC 10H</strong> </h3>
                        
                        <h4>
                            <p>
                            - Áp dụng cho mỗi vé xem phim vào các suất trước 10h
                                và sau 22h hàng ngày.
                            
                            </p>
                            <p>
                            - Mua vé giá ưu đãi: 45.000 đ / vé 2D, 55.000 đ / vé
                                3D.
                            </p>
                            <p>
                            Lưu ý: Chương trình không áp dụng cho ngày lễ/tết.
                            
                            </p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>