<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div class="body">

            <!--Danh sách phim -->
            <div class="content-page">
                <div class="title">
                    <h3>
                      <strong>Thành Viên</strong>
                    </h3>
                    <div class="row">
    
                        <div class=" col">
    
                            <div class="slide-wrapper-outter">
                                <div class="slide-wraper">
                                    <div class="slide-item">
                                        <div class="member-item">
                                            <div class="member-pic">
                                                <img src="../image/vip.jpg" alt="">
                                            </div>
                                            <div class="member-txt">
                                                <a href="   ">
                                                    <form style="vertical-align: inherit;">
                                                        <form style="vertical-align: inherit;">
                                                            <h5><strong>Chi Tiết</strong> </h5>
                                                        </form>
                                                    </form>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class=" col">
                            <div class="slide-wrapper-outter">
                                <div class="slide-wraper">
                                    <div class="slide-item">
                                        <div class="member-item">
                                            <div class="member-pic">
                                                <img src="../image/vip.jpg" alt="">
                                            </div>
                                            <div class="member-txt">
                                                <a href="   ">
                                                    <form style="vertical-align: inherit;">
                                                        <form style="vertical-align: inherit;">
                                                            <h5><strong>Chi Tiết</strong> </h5>
                                                        </form>
    
                                                    </form>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="promotion-list-content">
                <div class="title">
                    <h3><strong>CÁC ƯU ĐÃI</strong></h3>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div>
                            <a>
                                <img src="../image/thu2.png" alt="" align="right" width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <h5>
                            <form style="vertical-align: inherit;"><Strong>Thứ Hai</Strong> </form>
                        </h5>
                        <h6>
                            <p>
                            <form style="vertical-align: inherit;">- Áp dụng vào các buổi diển vào thứ hai.</form>
                            </p>
                            <p>
                            <form style="vertical-align: inherit;">- Giá vé ưu đãi :45.000đ/vé 2D và 70.000đ/vé 3D.</form>
                            </p>
                            <p>
                                - Lưu ý: Không áp dụng cho các ngày lễ/tết.
                            </p>
                        </h6>
                    </div>
                </div>
    
                <div class="list-wrap row">
                    <div class="col">
                        <div class="">
                            <a>
                                <img src="../image/kk.png" alt="" align="right" width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <h5>
                            <form style="vertical-align: inherit;"><strong> Này Hội Thành Viên</strong> </form>
                        </h5>
                        <h6>
                            <p>
                            <form style="vertical-align: inherit;">-Thứ Tư hàng tuần, Hội viên Ticketmen được ưu đãi giá vé
                                cho cả C'VIP và C'FRIEND</form>
                            </p>
                            <p>
                            <form style="vertical-align: inherit;">- Giá vé: 45.000đ/vé 2D và 70.000đ/vé 3D</form>
                            </p>
                            <p>
                            <form style="vertical-align: inherit;">- Giảm trực tiếp 10% và 15% trên hóa đơn đồ ăn và đồ uống
                                cho C'FRIEND và C'VIP tương ứng</form>
                            </p>
                        </h6>
                    </div>
                </div>
    
                <div class="list-wrap row">
                    <div class="col">
                        <div class="">
                            <a>
                                <img src="../image/uu.png" alt="" align="right" width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <h5>
                            <form style="vertical-align: inherit;"><strong>TẸT GA 45K SUỐT TUẦN TOÀN HỆ THỐNG</strong>
                            </form>
                        </h5>
                        <h6 style="color: black;">
                            <p>
                            <form style="vertical-align: inherit;">ÁP DỤNG MỨC GIÁ 45K / VÉ 2D - CẢ TUẦN - TOÀN HỆ THỐNG
                            </form>
                            </p>
                            <p>
                            <form style="vertical-align: inherit;">✔️ KHÔNG đắn đo về giá vé<br>
                                ✔️ KHÔNG nhức đầu nghĩ điểm hẹn cuối tuần<br>
                                ✔️ KHÔNG cần miệt mài lựa chọn phim</form>
                            </p>
                            <p>
                            <form style="vertical-align: inherit;">Áp dụng dành cho giáo viên, giảng viên, học sinh,
                                sinh viên và thanh niên dưới 22 tuổi, trên toàn hệ thống.</form>
                            </p>
                            <p>
                                LƯU Ý:<br>
    
                                - Vui lòng mua TRỰC TIẾP TẠI RẠP và xuất trình thẻ HSSV-GV hoặc CMND có dán ảnh và còn hiệu
                                lực khi mua vé.<br>
    
                                - Mỗi thẻ mua được một vé.
                            </p>
                        </h6>
                    </div>
                </div>
                <div class="list-wrap row">
                    <div class="col">
                        <div class="">
                            <a>
                                <img src="../image/km4.jpg" alt="" align="right" width="500px">
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <h5>
                            <form style="vertical-align: inherit;"><strong>KHUYẾN MÃI TẠI MỐC 10H</strong> </form>
                        </h5>
                        <h6>
                            <p>
                            <form style="vertical-align: inherit;">- Áp dụng cho mỗi vé xem phim vào các suất trước 10h và sau 22h hàng ngày.
                               </form>
                            </p>
                            <p>
                            <form style="vertical-align: inherit;">- Mua vé giá ưu đãi: 45.000 đ / vé 2D, 55.000 đ / vé 3D.</form>
                            </p>
                            <p>
                            <form style="vertical-align: inherit;"> Lưu ý: Chương trình không áp dụng cho ngày lễ/tết.</form>
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    
    </main>
</div>