<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

    <main class="container">
        <div class="title">
            TIN TỨC
        </div>

        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link active" id="tinDienAnh-tab" data-toggle="tab" href="#tinDienAnh" role="tab"
                    aria-controls="tinDienAnh" aria-selected="true"><strong>Tin Điện Ảnh</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tuyenDung-tab" data-toggle="tab" href="#tuyenDung" role="tab"
                    aria-controls="tuyenDung" aria-selected="false"><strong>Tuyển Dụng</strong></a>
            </li>
        </ul>

               <!--TUYỂN DỤNG-->
        <div class="tab-content mt-3">
            <div class="tab-pane fade" id="tuyenDung" role="tabpanel" aria-labelledby="tuyenDung-tab">
                <ul class="list-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">TICKETMEN POLY TUYỂN DỤNG NHÂN SỰ</div> -->
                                    <div class="panel-body"><img src="../image/dangky.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                    <div class="panel-footer">
                                        <div>
                                            <strong>TICKETMEN POLY TUYỂN DỤNG NHÂN SỰ</strong>
                                        </div>
                                        
                                        TICKETMEN POLY tuyển dụng các vị trí ứng viên tiềm năng, 
                                        đam mê phim ảnh và giải trí và làm việc trong môi trường năng động,
                                         chuyên nghiệp mông muốn được cống hiến và hoàn thiện bản thân. </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">Hệ thống rạp chiếu phim TICKETMEN tuyển dụng quản lý </div> -->
                                    <div class="panel-body"><img src="../image/tuyendung.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                           
                                    <div class="panel-footer">
                                        <div>
                                            <strong>HỆ THỐNG RẠP CHIẾU PHIM TICKETMEN TUYỂN DỤNG QUẢN LÍ</strong>
                                        </div>
                                        Hệ thống rạp chiếu phim chúng tôi đăng chiêu mộ những bạn có đam mê và nhiệt huyết với công việc.
                                        để dẩn dắt  đội ngủ chúng tôi cung cấp dịch vụ tốt nhất và mang đến trải nghiệm tuyệt với cho khán giả.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">RẠP PHIM TICKETMEN TUYỂN NHÂN VIÊN PARTIME</div> -->
                                    <div class="panel-body"><img src="../image/cohoi.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                            
                                    <div class="panel-footer">
                                        <div>
                                            <strong>
                                                RẠP PHIM TICKETMEN TUYỂN NHÂN VIÊN PARTIME
                                            </strong>
                                        </div>
                                        
                                        Cùng trở thành nhân viên rạp phim để được làm việc trong môi trường chuyên nghiệp. 
                                        Hãy đến ngày với TICKETMEN để được trao cho mình cơ hội để trở thành thành viên chính thức nhé . Đặc Biệt vào ngày 12-12-2023 nhé!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>


            <!--TIN ĐIỆN ẢNH-->
            <div class="tab-pane fade show in active" id="tinDienAnh" role="tabpanel" aria-labelledby="tinDienAnh-tab">
                <ul class="list-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">TICKETMEN POLY TUYỂN DỤNG NHÂN SỰ</div> -->
                                    <div class="panel-body"><img src="../image/phim.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                    <div class="panel-footer"><strong>[ĐẤT RỪNG PHƯƠNG NAM]</strong> là bộ phim điện ảnh Việt Nam thuộc thể loại sữ thi-tâm lý-chính kịch ra
                                        mắt vào năm 2023, được dựa trên cuốn tiểu thuyết cùng tên của nhà văn Đoàn giỏi và bộ phim đất rừng phương nam vào năm 1997.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">Hệ thống rạp chiếu phim TICKETMEN tuyển dụng quản lý </div> -->
                                    <div class="panel-body"><img src="../image/phim22.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                    <div class="panel-footer"><strong>[ĐẤU TRƯỜNG SINH TỬ]</strong> lấy bối cảnh một thế giới tương lai sau cuộc nổi dậy tải Bắc Mỹ, ở một nước đọc tài toàn trị tên là "Panem". Bắt đầu ra mắt đọc giả vào tháng 9-2008
                                        mang lại doanh thu toàn cầu lên đến 691 triệu USD. trở thành bộ phim có doanh thu cao thứ 3 tại mỹ và thứ 9 trên thế giới.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">RẠP PHIM TICKETMEN TUYỂN NHÂN VIÊN PARTIME</div> -->
                                    <div class="panel-body"><img src="../image/acquy.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                    <div class="panel-footer"><strong>[ÁC QUỶ MA SƠ 2] </strong>-Loạt Easter Egg rùng rợn nhất của THE NUN 2:Một cảnh cũ của Valak "tiên tri" tương lai của nhân vật bất ngờ?
                                        Là bom tấn kinh dị  của Warner Bros. Trong dịp hè năm nay, THE NUN 2 mang trở lại ác quỷ đình đám Valar Cùng chương tiếp theo trong Vũ trụ The Conjuring.
                                        Bộ phim mang đến nhiều phân đoạn thót tim hồi hộp nhưng lại gây tính tò mò, nhờ nhiều chi tiết Easter Egg cài cắm xuyên suốt cũng như một phân đoạn After-Credit
                                         thú vị hé lộ bước đi tiếp theo của vũ trụ phim kinh dị này. 
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">TICKETMEN POLY TUYỂN DỤNG NHÂN SỰ</div> -->
                                    <div class="panel-body"><img src="../image/phim33.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                    <div class="panel-footer"><strong>[BIỆT ĐỘI LÍNH ĐÁNH THUÊ]</strong> Có sự góp mặt của người đẹp Megan Fox cùng dàn sao đình đám, song The Expendables 4 lộ nhiều điểm yếu 
                                        với kịch bản lỗi thời, tình tiết bất hợp lý.Nội dung tương đối dễ đoán, khán giả không quá bất ngờ trước tình tiết phim. Tất cả diễn biến cũng như sự trở lại
                                         của một nhân vật quan trọng, kẻ đứng sau tất cả kế hoạch làm xáo trộn thế giới đều được xây dựng với mô típ cũ như nhiều tác phẩm hành động khác.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">Hệ thống rạp chiếu phim TICKETMEN tuyển dụng quản lý </div> -->
                                    <div class="panel-body"><img src="../image/phim44.jpg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                    <div class="panel-footer"><strong>[CẬU BÉ BÚT CHÌ-ĐẠI CHIẾN SIÊU NĂNG LỰC SUSHI BAY]</strong> Vừa có màn quậy tung màn ảnh rộng hồi đầu năm trong phần phim 2D thứ 30, mùa hè năm nay,
                                        Shin  - Cậu Bé Bút Chì tiếp tục công phá phòng vé với phần phim 3D đầu tiên trong toàn loạt phim.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading">RẠP PHIM TICKETMEN TUYỂN NHÂN VIÊN PARTIME</div> -->
                                    <div class="panel-body"><img src="../image/phim55.jpeg" class="img-responsive"
                                            style="width:100%" alt="Image"></div>
                                    <div class="panel-footer"><strong>[GIA ĐÌNH MÌNH VUI BẤT THÌNH LÌNH]    </strong> Bộ phim xoay quanh vấn đề 1 gia đình đông người thường gặp ở các gia đình Việt Nam. Những biến cố có cả nước mắt và tiếng cười . 
                                        Tập cuối lấy cột móc là 3 năm sau khi Công khỏi bệnh . Cặp vợ chồng có cặp em bé sinh đôi sau nhiều năm chưa hiếm muộn. Bộ phim thành công khi diển tả lại khung cảnh 
                                        gia đình Việt Nam với nhiều tình tiết hấp dẩn, mang đến tâm lý cho người xem sự hồi hộp và cả tiếng cười.
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </main>


</div>