<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
  <style>
    /* CSS cho tab navigation */
    ul.nav {
      margin-bottom: 20px;
    }

    .nav-link {
      color: #000;
      font-weight: bold;
      padding: 10px 20px;
    }

    .nav-link.active {
      background-color: #f0f0f0;
      border-radius: 5px;
    }

    /* CSS cho nội dung tab */
    .tab-pane {
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-top: 20px;
    }

    /* CSS cho h1 */
    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    /* CSS cho hình ảnh */
    img {
      max-width: 100%;
      width: 30%;
      height: 20%;
    }

    /* CSS cho các địa chỉ và điều hướng */
    p {
      margin: 10px 0;
    }

    /* CSS cho liên kết */
    a {
      color: #007BFF;
    }

    a:hover {
      color: #0056b3;
    }

    /* thẻ a ở ticketpoly*/
    a.hh {
      display: inline-block;
      overflow: hidden;
      border-radius: 40%;
    }

    a.hh img {
      display: block;
      width: 100%;
      /* Đảm bảo hình ảnh đổ đầy toàn bộ phần hình tròn */
      height: 200px;
      /* Đảm bảo tỷ lệ khung hình */
    }
  </style>
  <main>
    <div class="movies-selecting mt-3" style="background-image: url(./image/nen.jpg);color: white;">
      <ul class="nav justify-content-center">
        <li class="nav-item col" role="presentation">
          <a class="nav-link active" data-toggle="tab" role="tab" data-target="#dichvu" aria-selected="true">
            DỊCH VỤ</a>
        </li>
        <li class="nav-item col" role="presentation">
          <a class="nav-link" data-toggle="tab" role="tab" data-target="#rapchieu" aria-selected="false">RẠP CHIẾU
            PHIM TICKETMEN</a>
        </li>
        <li class="nav-item col" role="presentation">
          <a class="nav-link" data-toggle="tab" role="tab" data-target="#congnghe" aria-selected="false">CÔNG NGHỆ
            RẠP CHIẾU PHIM</a>
        </li>
      </ul>
      <div class="tab-content col" id="myContent">
        <div class="tab-pane fade show active" id="dichvu">
          <div>
            <h2><strong>CÀ PHÊ CINESTAR</strong> </h2>
            <br>
            <div class="row">
              <div class="col-6">
                <p>
                  CÀ PHÊ CINESTAR
                  Khu vực Fairy Coffee với tầm nhìn từ trên cao và Wifi miễn phí thích hợp để selfie,
                  check-in và cùng nhau ngắm phố về đêm hay bạn thích Frappe Cappuccino ngọt ngào,
                  các loại trà Hawaii và hương vị soda Ý khó quên.</p>
                <p>-------------------</p>
                <p>Địa chỉ: Tầng 1, Rạp chiếu phim CineStar</p>
                <p>-271 Nguyễn Trãi, Quận 1, TP.HCM</p>
                <p>ĐT: (028) 7300 8881</p>
              </div>
              <img src="image/dichvu1.jpg">

            </div>
          </div>
          <h2><strong>CÀ PHÊ CINESTAR</strong> </h2>
          <br>
          <div class="row">

            <div class="col-6">
              <p>
                CÀ PHÊ CINESTAR
                Khu vực Fairy Coffee với tầm nhìn từ trên cao và Wifi miễn phí thích hợp để selfie,
                check-in và cùng nhau ngắm phố về đêm hay bạn thích Frappe Cappuccino ngọt ngào,
                các loại trà Hawaii và hương vị soda Ý khó quên.</p>
              <p>-------------------</p>
              <p>Địa chỉ: Tầng 1, Rạp chiếu phim CineStar</p>
              <p>-271 Nguyễn Trãi, Quận 1, TP.HCM</p>
              <p>ĐT: (028) 7300 8881</p>
            </div>
            <img src="image/dichvu1.jpg">

          </div>


        </div>
        <!-- giowi thieu -->
        <div class="tab-pane fade " id="rapchieu" role="tabpanel">
          <div class="row">
            <a href="your_link" class="hh">
              <img src="image/rap.jpg" alt="Your Image">
            </a>
            <div class="col-6">
              <h1>TICKETMEN POLY</h1>
              <p>Địa chỉ: 137 Nguyễn Thị Thập - Hòa Minh - Liên Chiểu - Đà Nẵng</p>
              <p>Đường dây nóng: 123456789</p>
            </div>
          </div>
          <div class="row" align="right">
            <!-- giowi thieu -->
            <div class="col-9">
              <h1>TICKETMEN POLY</h1>
              <p>Địa chỉ: 137 Nguyễn Thị Thập - Hòa Minh - Liên Chiểu - Đà Nẵng</p>
              <p>Đường dây nóng: 123456789</p>
            </div>
            <a href="your_link" class="hh">
              <img src="image/rap.jpg" alt="Your Image">
            </a>
          </div>
          <!-- giowi thieu -->
          <div class="row">
            <a href="your_link" class="hh">
              <img src="image/rap.jpg" alt="Your Image">
            </a>
            <div class="col-6">
              <h1>TICKETMEN POLY</h1>
              <p>Địa chỉ: 137 Nguyễn Thị Thập - Hòa Minh - Liên Chiểu - Đà Nẵng</p>
              <p>Đường dây nóng: 123456789</p>
            </div>
          </div>
          <div class="row" align="right">

            <div class="col-9">
              <h1>TICKETMEN POLY</h1>
              <p>Địa chỉ: 137 Nguyễn Thị Thập - Hòa Minh - Liên Chiểu - Đà Nẵng</p>
              <p>Đường dây nóng: 123456789</p>
            </div>
            <a href="your_link" class="hh">
              <img src="image/rap.jpg" alt="Your Image">
            </a>
          </div>
          <!-- giowi thieu -->

        </div>


        <div class="tab-pane fade" id="congnghe" role="tabpanel">
          <div class="page">
            <div class="ck row">

              <img src="image/ghedoi.png">
              <div class="col">
                <h1>CÔNG NGHỆ 3D</h1>
                <p>3D là một quá trình trong đó một mô hình kỹ thuật số được biến thành một vật thể rắn ba chiều hữu
                  hình,
                  thường bằng cách đặt liên tiếp nhiều lớp vật liệu mỏng xếp chồng lên nhau. </p>
                <p>Việc tạo ra một đối tượng in 3D đạt được bằng cách sử dụng các quy trình sản xuất bồi đắp (Additive
                  Manufacturing).
                  Trong quy trình này, một đối tượng được tạo ra bằng cách “đắp” từng lớp vật liệu lên nhau, mô phỏng
                  theo
                  thiết kế đã
                  vẽ sẵn trên phần mềm CAD, cho đến khi đối tượng được tạo ra. Mỗi lớp này có thể được xem như một mặt
                  cắt
                  ngang được cắt mỏng của đối tượng.</p>
              </div>
            </div>
            <br>
            <div class="ck row">

              <img src="image/ghedoi.png">
              <div class="col">
                <h1>HỒI HỘP NGỌT NGÀO</h1>
                <p>TicketMen có thể mang đến cho bạn những dây phút xem phim thư giãn và hấp dẩn trong không khí gia
                  đình
                  nhẹ nhàng, ấm áp và yêu thương.
                  Tận hưởng những giây phút ngọt ngào nhất tại TicketMen bên cạnh chiếu ghế SWEETBOX đôi.
                </p>
                <p>Với nổ lực không ngừng nhằm mang đến cho người yêu phim việt những trãi nghiệm điện ảnh tuyệt vời
                  nhất,
                  TicketMen cũng cấp các
                  chiếc ghế đôi vô cùng độc đáo và mới lạ cho các cặp tình nhân cũng như một gia đình nhỏ.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>