
    <link rel="stylesheet" href="/test/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/test/owlcarousel/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/test/owlcarousel/owl.carousel.min.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                loop: true,
                margin: 10,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            })
        });
    
    </script>
    
    <style>
        #wd-slider {
            width: 69%;
            margin: 0px auto;
        }
    
        #new-list {
            text-align: center;
        }
    
        .promotion-title h2 {
            display: inline-block;
            text-align: center;
            width: 940px;
        }
    
        .news-title h2 {
            text-align: center;
        }
    </style>


<body>

    <div class="promotion-title">
        <h2><strong>CHƯƠNG TRÌNH KHUYẾN MÃI</strong></h2>
    </div>
    <div id="wd-slider">
        <div class="owl-carousel owl-theme">
            <div class="panel panel-primary">
                <div class="item">
                    <div class="panel-body">
                        <a href="#">
                            <img src="/test/image/km2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="item">
                    <div class="panel-body">
                        <a href="#">
                            <img src="/test/image/km1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="item">
                    <div class="panel-body">
                        <a href="#">
                            <img src="/test/image/km3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="item">
                    <div class="panel-body">
                        <a href="#">
                            <img src="/test/image/km2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="item">
                    <div class="panel-body">
                        <a href="#">
                            <img src="/test/image/km3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="item">
                    <div class="panel-body">
                        <a href="#">
                            <img src="/test/image/km2.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="news-title">
        <h2><strong>TIN TỨC</strong></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="#" style="text-decoration: none">
                    <div class="panel panel-primary">
                        <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive"
                                style="width:100%" alt="Image"></div>
                        <div class="panel-body"><strong>RẠP PHIM CINESTAR TUYỂN NHÂN VIÊN PARTIME</strong></div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" style="text-decoration: none">
                    <div class="panel panel-primary">
                        <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive"
                                style="width:100%" alt="Image"></div>
                        <div class="panel-body"><strong>CINESTAR LÂM ĐỒNG (ĐỨC TRỌNG) - TUYỂN DỤNG NHÂN SỰ</strong>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#" style="text-decoration: none">
                    <div class="panel panel-primary">
                        <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive"
                                style="width:100%" alt="Image"></div>
                        <div class="panel-body"><strong>Chung kết Hoa hậu Nhân ái Việt Nam 2023 sẽ diễn ra tại Đà
                                Lạt</strong></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive" style="width:100%"
                            alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive" style="width:100%"
                            alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive" style="width:100%"
                            alt="Image"></div>
                    <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
                </div>
            </div>
        </div>
    </div>
    
</body>


</html>