<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu của tôi</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/test/owlcarousel/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="/test/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/test/owlcarousel/assets/owl.theme.default.min.css">
</head>

<body>

    <h1 align="center">PHIM</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/test/image/khuyến mãi 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NHỮNG BÍ MẬT CỦA DUMBLEDORE</h5>
                        <p class="card-text">
                        </p>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/test/image/khuyến mãi 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NHỮNG BÍ MẬT CỦA DUMBLEDORE</h5>
                        <p class="card-text">
                        </p>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/test/image/khuyến mãi 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NHỮNG BÍ MẬT CỦA DUMBLEDORE</h5>
                        <p class="card-text">
                        </p>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/test/image/khuyến mãi 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NHỮNG BÍ MẬT CỦA DUMBLEDORE</h5>
                        <p class="card-text">
                        </p>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/test/image/khuyến mãi 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NHỮNG BÍ MẬT CỦA DUMBLEDORE</h5>
                        <p class="card-text">
                        </p>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/test/image/khuyến mãi 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">NHỮNG BÍ MẬT CỦA DUMBLEDORE</h5>
                        <p class="card-text">
                        </p>
                        <a href="#" class="btn btn-primary">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>