<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../CSS/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../CSS/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../CSS/style.css" type="text/css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../image/acquy.jpg">
                        <h5><a href="#">Fresh Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../image/acquy.jpg">
                        <h5><a href="#">Dried Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../image/acquy.jpg">
                        <h5><a href="#">Vegetables</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../image/acquy.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../image/acquy.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="../JS/jquery-3.3.1.min.js"></script>

    <script src="../JS/jquery.slicknav.js"></script>

    <script src="../JS/owl.carousel.min.js"></script>
    <script src="../JS/main.js"></script>
</body>
</html>