<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/index.css">
  </head>
  <body>
    <div class="container">
      <div class="title">
        TIN TỨC
      </div>

      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link active" id="tinDienAnh-tab" data-toggle="tab" href="#tinDienAnh" role="tab" aria-controls="tinDienAnh" aria-selected="true">Tin Điện Ảnh</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="tuyenDung-tab" data-toggle="tab" href="#tuyenDung" role="tab" aria-controls="tuyenDung" aria-selected="false">Tuyển Dụng</a>
          </li>
      </ul>

      <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="tinDienAnh" role="tabpanel" aria-labelledby="tinDienAnh-tab">
              <ul class="list-group">
                <div class="row">
                  <div class="col-sm-4">
                      <a href="#" style="text-decoration: none">
                          <div class="panel panel-primary">
                              <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive"
                                      style="width:100%" alt="Image"></div>
                              <div class="panel-body"><strong>RẠP PHIM CINESTAR TUYỂN NHÂN VIÊN PARTIME</strong></div>
                          </div>
                      </a>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                        <a href="#" style="text-decoration: none">
                            <div class="panel panel-primary">
                                <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive"
                                        style="width:100%" alt="Image"></div>
                                <div class="panel-body"><strong>RẠP PHIM CINESTAR TUYỂN NHÂN VIÊN PARTIME</strong></div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                          <a href="#" style="text-decoration: none">
                              <div class="panel panel-primary">
                                  <div class="panel-body"><img src="/test/image/km2.jpg" class="img-responsive"
                                          style="width:100%" alt="Image"></div>
                                  <div class="panel-body"><strong>RẠP PHIM CINESTAR TUYỂN NHÂN VIÊN PARTIME</strong></div>
                              </div>
                          </a>
                      </div>
              </ul>
          </div>

          <!-- Tab Tuyển Dụng -->
          <div class="tab-pane fade" id="tuyenDung" role="tabpanel" aria-labelledby="tuyenDung-tab">
              <!-- Danh sách tin tức Tuyển Dụng -->
              <ul class="list-group">
                  <li class="list-group-item">Tin 1: Nội dung tin tức Tuyển Dụng 1</li>
                  <li class="list-group-item">Tin 2: Nội dung tin tức Tuyển Dụng 2</li>
                  <li class="list-group-item">Tin 3: Nội dung tin tức Tuyển Dụng 3</li>
              </ul>
          </div>
      </div>
  </div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>