<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}"> -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="client/css/bamburgh.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
		integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/banner.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<!-- Font Awesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
</head>

<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Tài khoản</li>
								</ul>
							</nav>
							<h4 class="title">Quên mật khẩu</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="account-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 m-auto">
						<div class="account-form-wrap">
							<div class="login-form">
								<div class="content">
									<h4 class="title">Quên mật khẩu</h4>
									<p>Vui lòng nhập địa chỉ email để chúng tôi có thể gửi mật khẩu mới qua email của
										bạn.</p>
								</div>
								<form>
									<div class="row">
										<div class="col-12" th:if="${message}">
											<div class="alert alert-warning p-2">
												<i class="text-danger" th:text="${message}"></i>
											</div>
										</div>
										<div class="col-12">
											<label class="form-label">Nhập tên tài khoản</label>
											<div class="form-group">
												<input class="form-control" id="username" name="email" type="text"
													placeholder="Nhập tên tài khoản" required>
												<span id="usernameError" style="color: red;"></span>
											</div>
										</div>
										<div class="col-12">
											<div class="login-form-group mt-0">
												<button type="button" class="btn w-100"
													style="background-color: #d19c97;" onclick="forgotPassword()">Đồng
													ý</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="/vendor/bootstrap.min.js"></script>

<script>
	function forgotPassword() {
		var username = $('#username').val()

		if (username === '' || username == null) {
			$('#usernameError').html('Vui lòng nhập tên đăng nhập!!')
		} else {
			axios.post("/auth/requestResetPassword?username=" + username)
				.then(res => {
					$('#usernameError').html('')
					$('#username').val('')
					Swal.fire({
						title: "Thông báo!",
						text: res.data,
						icon: "success"
					});
				})
				.catch(error => {
					var message;
					if (error.response) {
						message = error.response.data.message
					} else {
						message = "Lỗi vui lòng kiểm tra lại!"
					}

					Swal.fire({
						title: "Thông báo!",
						text: message,
						icon: "error"
					});
				})
		}

	}
</script>

</html>