<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Tài khoản</li>
								</ul>
							</nav>
							<h4 class="title">Đặt lại mật khẩu</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="account-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 m-auto">
						<div class="account-form-wrap">
							<div class="login-form">
								<div class="content mb-3">
									<h4 class="title">Đặt lại ngay</h4>
									<p></p>
								</div>
								<form th:action="@{/auth/reset-password}" method="post">
									<div class="row">
										<div class="col-12" th:if="${message}">
											<div class="alert alert-warning p-2">
												<i class="text-danger" th:text="${message}"></i>
											</div>
										</div>
										<input type="hidden" name="token" th:value="${token}" />
										<div class="col-12">
											<label class="form-label">Mật khẩu</label>
											<div class="form-group">
												<input class="form-control" type="password" id="password"
													name="password" placeholder="Nhập mật khẩu mới" required autofocus>
											</div>
										</div>
										<div class="col-12">
											<label class="form-label">Nhập lại mật khẩu</label>
											<div class="form-group">
												<input class="form-control" type="password"
													placeholder="Nhập lại mật khẩu mới" required
													oninput="checkPassword(this);">
											</div>
										</div>
										<div class="col-12">
											<div class="login-form-group mt-0">
												<button class="btn-sign d-block w-100" type="submit">Đồng ý</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript">
			function checkPassword(password) {
				if (password.value != $("#password").val()) {
					password.setCustomValidity("Mật khẩu không trùng với nhau!");
				} else {
					password.setCustomValidity("");
				}
			}
		</script>
	</main>
</body>

</html>