.container1{
    margin: 10px auto;
    max-width: 600px;
    width: 100%;
    padding: 25px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    margin-bottom: 10.3%;
}
.container1 .title{
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
.container form .user-details1 {
    display: flex;
    flex-direction: column; /* Thay đổi thành column */
    margin: 20px 0 12px 0;
}

form .user-details .input-box1 {
    margin-bottom: 15px;
    width: 100%; /* Đặt chiều rộng là 100% cho chiều rộng đầy đủ */
}

/* Loại bỏ tính toán chiều rộng cho các hộp nhập */
form .user-details1 .input-box1 input{
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.user-details1 .input-box1 .details{
    font-weight: 500;
}