/* CSS cho thanh menu */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
    /* background-color: #542f50; */
    background-color: white;
    background-size: cover;
    width: 100%;
    position: fixed;
    z-index: 3;
    transition: all 0.3s ease;
    /* border-bottom: 1px solid black; */
}

.menu .logo img {
    width: 100%;
}

.menu-con {
    /* margin-left: 10%; */
    display: flex;
    flex-grow: 1;
    justify-content: center;
    /* margin-top: 1%; */
    padding: 5px;
    /* border-radius: 10px; */
}

.menu-item {
    margin: 0 10px;
}

.menu-item a {
    text-decoration: none;
    color: black;
    /* Màu chữ của các mục menu (ví dụ: trắng) */
    font-weight: bold;
    padding: 10px 10px;
    /* border-radius: 5px; */
}

.menu-item a {
    font-size: medium;
    text-decoration: none;
    display: inline-block;
    /* will-change: transform; */
}

.menu-item a:hover {
    animation: zoomIn 0.2s ease-in-out forwards;
    text-decoration: none;
    box-shadow: 0 3px 1px -1px orangered;
    /* backface-visibility: hidden; */
}

.menu-item a:not(:hover) {
    animation: zoomOut 0.3s ease-in-out forwards;
    text-decoration: none;
    /* backface-visibility: hidden; */
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.search-form {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.form-row-search {
    position: relative;
}

.search-field {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    width: 150px;
    /* Điều chỉnh độ rộng của ô tìm kiếm */
}

.search {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    /* Khoảng cách giữa ô tìm kiếm và nút tìm kiếm */
}


/* --------------TIN TỨC----------------- */

.title {
    font-size: 35px;
    font-weight: 600;
}

.nav-tabs {
    display: flex;
    justify-content: center;
}

.nav-item {
    text-align: center;
    flex: 1;
    font-size: 25px;
    font-weight: 300;
}

.panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.panel-heading {
    background-color: #337ab7;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.panel-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.panel-footer {
    text-align: center;
}


/*------------PHẦN LOGIN-------------*/

.btn-register {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #0b0a0a;
}

.btn-register:hover {
    text-decoration: none;
    color: tomato;
}


/* CSS cho phần đăng nhập */

.btn-login {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #0b0a0a;
}

.btn-login:hover {
    text-decoration: none;
    color: tomato;
}


/* CSS cho logo trong phần đăng nhập và đăng ký */

.logo-login {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}


/* CSS cho phần login */

.login {
    display: flex;
    align-items: center;
}


/* CSS để căn giữa nút đăng ký và đăng nhập */

.login ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.login ul li {
    margin-right: 10px;
}


/* ------------------------------------------ */


/* CSS cho slide show */

.movie-slide {
    margin-bottom: 5px;
}

.movie-slide .carousel-item img {
    border: 1px solid orangered;
    border-radius: 5px;
}

.slide_BG {
    /* height: 20%; */
    /* background-image: url('/image/nen1.jpg'); */
    border-radius: 15px;
    background-size: contain;
}

.slideshow-container {
    /* max-width: 100%;
    position: relative; */
    position: relative;
    margin-top: 20px;
}

.mySlides {
    display: none;
}


/* img {
    border-radius: 10px;
} */


/* Chỉnh kích thước hình ảnh trong slide show */

.mySlides img {
    width: 80%;
    /* Điều chỉnh chiều cao của slide show */
    object-fit: cover;
    margin-top: 10px;
}


/* Chỉnh hiệu ứng chuyển đổi */

.fade {
    /* animation: fade 2s ease-in-out infinite; */
    animation-name: fade;
    animation-duration: inherit;
}

@keyframes fade {
    /* 0%, 100% { opacity: 0; }
    20%, 80% { opacity: 1; } */
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}


/* ------------------------------------ */


/* CSS mua vé Online*/

.ticket-buying {
    margin-top: 10%;
    /* Khoảng cách giữa slide show và phần mua vé */
}

.ticket-buying h2 {
    font-size: 24px;
    /* Kích thước chữ */
    color: #333;
    /* Màu chữ (ví dụ: màu đen) */
    font-weight: bold;
    /* Độ đậm của chữ */
    margin-bottom: 1%;
}

.ticket-buying h2,
.ticket-buying button {
    display: inline-block;
    /* Hiển thị trên cùng một hàng */
    vertical-align: middle;
    /* Căn giữa theo chiều dọc */
}

.ticket-buying button {
    margin-left: 20px;
    /* Khoảng cách giữa thẻ <h2> và các nút */
}

.ticket-buying button {
    display: inline-block;
    /* Hiển thị nút trên cùng một hàng */
    margin-right: 20px;
    /* Khoảng cách giữa các nút */
}

.movies-selecting .nav-link {
    height: 100%;
    background-color: white;
}

.movies-selecting .nav {
    height: 60px;
    border-radius: 10px;
}

.movies-selecting .nav-item {
    width: 40%;
    border: 1px white solid;
}

.movies-selecting a {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

.movies-selecting .active {}

.movies-selecting li:hover {
    background-color: blueviolet;
    /* color: white; */
    color: #000;
}

.btn-chon-phim,
.btn-chon-ngay,
.btn-chon-suat {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
    background-color: #504b50fa;
    /* Màu nền cho nút chọn suất chiếu */
    color: white;
}

.btn-chon-phim:hover,
.btn-chon-ngay:hover,
.btn-chon-suat:hover {
    background-color: #d720da;
}


/*-----------KHUYẾN MÃI--------------------*/

.body {
    /* background-color: #007BFF; */
}

.promotion-list-content {
    padding: 20px;
}

.title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.list-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.block {
    width: 100%;
    max-width: 300px;
    margin: 0 10px 20px 0;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 10px;
}

.block-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.block-txt {
    padding: 10px 0;
}

.block-txt h3 {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}

.block-txt p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}


/* ------------------------------------- */


/* Thẻ Thành Viên */

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.car {
    width: 30%;
    margin-left: 200px;
    margin-top: 20px;
}

.slide-slidebox {
    display: flex;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 20px 0;
    border-radius: 15px;
}

.slide-wraper {
    display: flex;
    transition: transform 0.5s;
    border-radius: 15px;
}

.slide-item {
    max-width: 100%;
    border-radius: 15px;
}

.member-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
}

.member-pic img {
    max-width: 100%;
    height: auto;
}

.member-txt a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.member-txt a:hover {
    color: #007BFF;
}


/* CSS cho phần content-page */

.content-page {
    padding: 20px;
}


/* -------------Hỏi Đáp--------------- */


/* gửi câu hỏi và đặt vé */


/* body {
    font-family: Arial, sans-serif;
    padding: 20px;
} */

.container-css {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.container-css h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #333 !important;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control:focus {
    border-color: #008cba;
    box-shadow: 0 0 10px rgba(0, 140, 186, 0.5);
}

.btn-primary {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #008cba;
    border: none;
    color: white !important;
}

.btn-primary:hover {
    background-color: #005f6b;
}

li {
    text-decoration: none;
}

#li {
    text-decoration: none;
}

.showtime .age {
    background-color: darkorange;
    display: inline;
    padding: 1%;
    border-radius: 20%;
    color: white;
    margin-top: 3%;
}

.showtime .movie-name {
    font-weight: 700;
    font-size: larger;
    margin-top: 5%;
}

.showtime .category {
    color: dimgrey;
    font-size: small;
}

.showtime .order-btn {
    margin-top: 40%;
}

.today-showtime {
    margin: 10% 0;
}

.showtime>.col-md-6 {
    border-right: 1px solid blue;
    border-radius: 10%;
}


/* ----------LIÊN HỆ-------------*/


/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

} */

.contact {
    text-align: center;
    padding: 20px;
    background-image: url('../image/hh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact h1 {
    font-size: 45px;
    margin: 0;
    color: #ffffff;
}

.contact h2 {
    font-size: 32px;
    margin: 10px 0;
    color: #ffffff;
}

.contact h3 {
    font-size: 24px;
    color: #ffffff;
    margin-top: 4%;
}

.contact p {
    margin: 10px 0;
    color: #ffffff;
}

.contact a img {
    width: 5%;
    height: auto;
    margin-top: 10px;
}

.section-title {
    text-align: center;
    margin-top: 40px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.box {
    background-image: url('../image/ss.jpg');
}

.lh {
    text-align: center;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #555a5e;
    color: #fff;
}


/*---------------------------Register/Login---------------------------*/

.form-register {
    padding: 5%;
    margin-top: 1%;
    background-image: url('');
    background-repeat: X;
    background-size: cover;
}

.form-register small {
    color: white;
}

.form-register .form-control {
    border: 3px solid rgb(72, 233, 217);
}

.tenpim {
    color: #0b0a0a;
}

.username {
    display: block;
    padding: 0 2%;
    width: 15%;
}


/* username */

.username a {
    font-size: large;
    font-weight: 600;
    color: #000;
    position: relative;
    /* Thêm thuộc tính này để sử dụng position absolute cho pseudo-element */
}

.username a::before {
    content: "";
    /* Tạo một pseudo-element để làm đường thẳng */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    /* Độ dày của đường thẳng */
    background-color: orangered;
    transition: width 0.5s ease-in-out;
    /* Áp dụng transition cho width */
}

.username a:hover::before {
    width: 100%;
    /* Kéo dài đường thẳng khi hover */
}


/* Movie Detail */

.detail-container {
    width: 100%;
    height: 500px;
    background-image: url('../image/BlackBG.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-repeat: no-repeat;
}

.detail img {
    margin-top: 5%;
    width: 25%;
}

.detail .text {
    margin-top: 5%;
}

.detail .text .name {
    font-size: 40px;
    color: aliceblue;
    font-weight: bold;
}

.detail .text .time {
    font-size: 15px;
    color: grey;
    font-weight: bold;
}

.detail .text .description {
    font-size: 20px;
    color: rgb(196, 196, 196);
}

.detail .text .mt-10>b {
    font-size: 22px;
    color: rgb(231, 230, 230);
}

.detail .text .mcontent {
    font-size: 16px;
    color: rgb(177, 177, 177);
}

.detail .detail-footer {
    color: aliceblue;
    display: inline-flex;
}

.detail .detail-footer .dcol {
    margin-right: 20px;
}


/* @keyframes mslide{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
} */

.mlist {
    animation: mslide 2s ease;
}


/*============================================= Select ticket page ===========================================*/

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cinema-room {
    text-align: center;
    margin-top: 20px;
    max-width: 60%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

.screen {
    background-image: url('http://pixner.net/boleto/demo/assets/images/movie/screen-thumb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #151414;
    padding: 4px;
    max-width: 100%;
    text-align: center;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.seating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin: auto 5%;
}

.seats {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.seat {
    width: 5%;
    height: auto;
    background: #ffc342;
    margin: 1%;
    cursor: pointer;
    border-radius: 5px;
}

.seat.selected {
    background: #59dbff;
}

.seat.hold {
    background-color: gray;
    pointer-events: none;
}

.seat.booked {
    background-color: #e74c3c;
    /* Màu ghế đã đặt */
    pointer-events: none;
    /* Vô hiệu hóa sự kiện click */
}

.legend {
    display: inline-flex;
    flex-direction: row;
    /* align-items: flex-start; */
    margin-top: 20px;
    width: 100%;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10%;
}

.legend-item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.legend-item-text {
    white-space: nowrap;
}

.legend-item.occupied .legend-item-icon {
    background: #59dbff;
}

.legend-item.ordered .legend-item-icon {
    background: #e74c3c;
}

.legend-item.available .legend-item-icon {
    background: #ffc342;
}

.action-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
}

.booking-summary {
    height: auto;
    background-color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-image {
    margin: 5% 15% 2% 15%;
    width: 70%;
}

.movie-ticket-info {
    margin: 2% 10%;
}

.movie-ticket-info h3 {
    font-weight: 600;
    margin-bottom: 5%;
}

.movie-ticket-info p {
    font-weight: 600;
    margin: 1%;
}

.showtimes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.showtime-button {
    background-color: #fff;
    color: #007BFF;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.showtime-button:hover {
    background-color: #0056b3;
    color: #fff;
}

.showtime-button:focus {
    outline: none;
}


/* hoang */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #d14bcf !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white !important;
}


/* tên phim */

.card-title1 {
    font-family: monospace;
    /* font-weight: normal; */
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-weight: 600;
}


/* -----------------Tuong's BILL-------------------- */


/* -------*/

.final-confirm {
    width: 90%;
    /* height: auto; */
    /* background: linear-gradient(to right, rgb(107, 225, 150), rgb(55, 101, 174), rgb(147, 51, 234)); */
    background-color: white;
    border-radius: 0 50px 0 50px;
    text-align: center;
    margin: 0 auto 40px auto;
    padding: 30px 50px;
    max-width: 900px;
    margin-top: 20px;
}

.final-confirm>p {
    font-family: 'MyriadRegular';
    font-style: italic;
    font-size: 22px;
    line-height: 1.2;
}

.confirm-filp {
    /* margin: 0 auto; */
    padding: 30px 0;
}

.confirm-filp-pic {
    float: left;
    margin: 0 15px 0 0;
}

.confirm-filp-text h3 {
    font-family: 'MyriadBold';
    text-transform: uppercase;
}

.confirm-filp-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 0;
}

.confirm-ticket {
    display: table !important;
    border-spacing: 1px;
}

.confirm-ticket>.confirm-mark {
    display: table-cell;
    vertical-align: middle;
    min-width: 80px;
    background-color: #f6e2e2;
}

.confirm-text {
    background-color: #f6e2e2;
    padding: 10px;
    width: 320px;
}


/* ul {
    list-style-type: none;
} */

.confirm-mark {
    font-weight: bold;
    font-size: 18px;
}

.tong-tien {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.giam-gia {
    margin-top: 15px;
}


/* 
.nut-giam-gia {
    padding: 10px 20px;
    background-color: #ee88db;
    margin: 5px;
    border-radius: 7px;
} */


/* .gui {
    padding: 10px 30px;
    cursor: pointer;
    margin: 7px;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234));
} */


/* 
.gui:hover {
    background: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8));
} */


/* .ma-giam-gia {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 7px;
} */


/* -------*/

.final-form {
    width: 90%;
    background: rgb(250, 250, 250);
    border-radius: 50px 0 50px 0;
    margin: 0 auto 40px auto;
    padding: 30px 50px;
    max-width: 900px;
}


/* h2 {
    text-align: center;
} */

.thong-tin {
    background-color: #eee4e4;
    padding: 6px;
    margin-top: 35px;
    border-radius: 6px;
    text-align: center;
}

.checkbox {
    margin-top: 20px;
    text-align: left;
    margin: 50px 0 0 20px;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#quaylai {
    background-color: #8d8989;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 50px 50px 0 50px;
    margin: 10px;
}

#quaylai:hover {
    background-color: #ed4bda;
}

#thanhtoan {
    background-color: #fe40e5;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 50px 50px 50px 0;
    margin: 10px;
}

.confirm-box {
    border: 1px solid #008cba;
    padding-bottom: 3%;
    border-radius: 2%;
}

#thanhtoan:hover {
    background-color: #eba23c;
}

.card-title2 {
    font-family: 'Futurab';
    /* font-weight: normal; */
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}


/* //home */

.mlist {
    background-image: url('../image/menu.png');
}


/* back to top */

#top-up {
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color: #004993;
    bottom: 20px;
    right: 15px;
    display: none;
}

#top-up:hover {
    color: #333
}


/* Container để bọc thẻ input và box gợi ý */

.search-container {
    position: relative;
    width: 100%;
}


/* Container của input và button */

.input-container {
    position: relative;
    /* width: 100%; */
}


/* #searchInput { */


/* position: absolute; */


/* top: 0; */


/* right:30px;
    width: 20%; */


/* height: 34px; */


/* } */


/* #button-addon2 { */


/* position: absolute; */


/* top: 0; */


/* right: 22px;
    z-index: 1;
} */


/* tìm kiếm */

.search-results {
    display: none;
}

.search-results-container {
    display: none;
}
/* .input-container>.search-results {
    display: none;
} */


/* Hiệu ứng khi nhấn vào */

.panel:hover {
    /* background-color: #d14bcf; */
    /* Màu nền khi di chuột vào */
    /* transition: background-color 0.3s ease; */
    /* Hiệu ứng chuyển đổi màu nền */
}


/* Hiệu ứng khi lướt */

.panel:active {
    transform: translateY(3px);
    /* Di chuyển phần tử xuống khi nhấn chuột */
    /* transition: transform 0.1s ease; */
    /* Hiệu ứng chuyển đổi di chuyển */
}

.panel-primary .list-group a:hover {
    color: white;
    font-weight: 600;
    /* Màu chữ khi hover */
}


/*--------------FOOTER-------------*/


/* footer section start */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background: #fff;
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: poppins;
}

#footer {
    background: #f7f7f7;
    padding: 3rem;
    /* padding-top: 5rem; */
    padding-top: 7rem;
    padding-bottom: 80px;
    background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}

#footer2 {
    background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
    /* padding-top: 5rem; */
    padding-top: 7rem;
    padding-bottom: 80px;
    background-image: url(../images/cards/v748-toon-111.png);
}

.footer-about {
    color: #000000;
    margin-top: 12px;
}

.logo-footer {
    /* max-width: 300px; */
}

.social-links {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.social-links h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #444444;
}

.social-links img {
    padding-bottom: 25px;
}

.social-icons {
    /* display: flex;
    gap: 3rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #777777;
}

.social-icons a {
    /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
	color: #82074a; */
    /* margin-right: 18px; */
    color: #777777;
}

.social-icons a:hover {
    color: #000;
}

.social-icons a i {
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
    font-size: 16px;
    margin-right: 12px;
}

li {
    list-style: none;
}

.useful-link h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #444444;
}

.useful-link img {
    padding-bottom: 15px;
}

.use-links {
    line-height: 32px;
}

.use-links li i {
    font-size: 14px;
    padding-right: 8px;
    color: #898989;
}

.use-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}

.use-links li a:hover {
    color: #000;
}

.address h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #444444;
}

.address img {
    padding-bottom: 15px;
}

.address-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}

.address-links li i {
    font-size: 16px;
    padding-right: 8px;
    color: #82074a;
}

.address-links li i:nth-child(1) {
    padding-top: 9px;
}

.address-links .address1 {
    font-weight: 500;
    font-size: 15px;
    display: flex;
}

.address-links {
    line-height: 32px;
    color: #777777;
}

.copy-right-sec {
    padding: 1.8rem;
    background: #777777;
    color: #fff;
    text-align: center;
}

.copy-right-sec a {
    color: #fcd462;
    font-weight: 500;
}

a {
    text-decoration: none;
}


/* footer section end */