<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div class="container-fluid">
            <div class="detail-container">
                <div class="container detail">
                    <div class="row" th:object="${item}">
                        <img class="col-3" th:src="@{|/image/*{poster}|}" alt="">
                        <div class="col-9 text">
                            <p class="name mt-2" th:text="*{name}"></p>
                            <p class="time"> 2023 · 130 phút</p>
                            <i class="description mt-10">Cái chết chỉ là sự khởi đầu.</i>
                            <hr>
                            <div class="mt-10"><b>Nội dung</b></div>
                            <p class="mcontent">
                                Thám tử nổi tiếng Hercule Poirot, đã nghỉ hưu và sống trong sự tự do ở Venice,
                                một lần ông miễn cưỡng tham gia một buổi gọi hồn vào đêm Halloween tại một lâu
                                đài đổ nát, bị ma ám. Khi một trong những vị khách bị giết, thám tử bị cuốn vào
                                một thế giới u ám của bóng tối và bí mật.
                            </p>
                            <div class="detail-footer">
                                <div class="dcol">
                                    <b>Ngày chiếu</b>
                                    <p th:text="${#dates.format(item.date, 'dd/MM/yyyy')}"></p>
                            </div>
                            <div class="dcol" >
                                <b>Thể loại</b>
                                <p th:text="*{category.name}"></p>
                            </div>
                            <div class="dcol">
                                <b>Quốc gia</b>
                                <p>Mỹ</p>
                            </div>
                        </div>
                        <div style="color: white;"> 
                            
                            <a type="button" class="btn btn-danger" style="border-radius: 5%;">
                                <i class="fa-brands fa-youtube fa-flip"style="margin-right: 5%;"></i><strong> TRAILER</strong></a>
                       
                                <a type="button" class="btn btn-success">
                                <i class="fa-solid fa-cart-shopping fa-beat"style="margin-right: 5%;"></i><strong>MUA VÉ</strong></a>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

</div>