<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <div th:object="${item}">
            <div class="detail-container">
                <div class="container detail">
                    <div class="row">
                        <img class="col-3" th:src="@{|/image/upload/*{poster}|}" alt="">
                        <div class="col-9 text">
                            <p class="name mt-2" th:text="*{name}"></p>
                            <p class="time"> 2023 · [[*{duration}]] phút</p>
                            <i class="description mt-10" th:text="*{description}"></i>
                            <hr>
                            <div class="mt-10"><b>Nội dung</b></div>
                            <p class="mcontent" th:text="*{movieContent}">

                            </p>
                            <div class="detail-footer">
                                <div class="dcol">
                                    <b>Ngày Ra Mắt</b>
                                    <p th:text="${#dates.format(item.releaseDate, 'dd/MM/yyyy')}"></p>
                                </div>
                                <div class="dcol">
                                    <b>Thể loại</b>
                                    <p th:text="*{category.name}"></p>
                                </div>
                                <div class="dcol">
                                    <b>Quốc gia</b>
                                    <p th:text="*{country}"></p>
                                </div>
                            </div>
                            <div style="color: white;">

                                <a type="button" class="btn btn-danger" style="border-radius: 5%;" data-toggle="modal"
                                    data-target="#trailer">
                                    <i class="fa-brands fa-youtube fa-flip" style="margin-right: 5%;"></i><strong>
                                        TRAILER</strong></a>

                                <a type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="fa-solid fa-cart-shopping fa-beat"
                                        style="margin-right: 5%;"></i><strong>MUA VÉ</strong></a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- muave -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" ng-controller="ticketSelectCtrl">
            <div hidden id="Mid" th:text="*{id}"></div>
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Chọn vé</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center ">
                            <p>Ngày chiếu</p>
                            <select class="w-50 custom-select" ng-model="selectedDate"
                                ng-change="findTime(selectedDate)">
                                <option value="" selected>Chọn ngày</option>
                                <option ng-repeat="d in dayInWeek" value="{{d}}">{{d}}</option>
                            </select>
                            <div class="mt-4">
                                <a ng-repeat="t in time" class="btn btn-primary mr-5 ticket-button" th:order="ascending"
                                    th:href="@{|/order/select/{{t.id}}|}">{{t.time}}
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
       <!-- traller -->
<div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="video-container">
                <iframe th:src="${item.trailer}" title="Movie trailer" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio, adjust as needed */
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<script>
    // Sự kiện khi modal được ẩn
    $('#trailer').on('hidden.bs.modal', function () {
        // Tìm và dừng video trong modal
        var iframe = $('#trailer').find('iframe');
        var src = iframe.attr('src');
        iframe.attr('src', src);
    });
</script>
    </main>
</div>
