<div class="container2">
    <div class="title">Thông Tin Cá Nhân</div>
    <hr>
    <form id="profileForm" ng-controller="user_ctrl">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Tên Đăng Nhập</span>
                <input ng-model="form.username" id="username" disabled>
            </div>
            <div class="input-box">
                <span class="details">Họ Và Tên</span>
                <input ng-model="form.name" type="text" id="fullName" ng-change="checkForm()">
            </div>
            <div class="input-box">
                <span class="details">Số Điện Thoại</span>
                <input ng-model="form.sdt" type="tel" id="phoneNumber"  ng-change="checkForm()">
            </div>
            <div class="input-radio">
                <div style="font-weight: 500;">Giới Tính</div>
                <input type="radio" id="true" ng-model="form.gender" name="gender" value="true"
                    ng-checked="form.gender == 1">
                <label for="true">Nam</label>
                <input type="radio" id="false" ng-model="form.gender" name="gender" value="false"
                    ng-checked="form.gender == 0">
                <label for="false">Nữ</label>
            </div>

            <div class="input-box">
                <span class="details">Email</span>
                <input ng-model="form.email" type="email" id="email"  ng-change="checkForm()">
            </div>

            <div class="input-box">
                <span class="details">Địa Chỉ</span>
                <input ng-model="form.address" type="text" id="address"  ng-change="checkForm()">
            </div>

        </div>
        <i class=" text-danger mt-2">{{error}}</i>
        <hr>
        <button class="btn-custom-btn btn-btn-1" ng-click="update()" ng-disabled="btn">Cập Nhập</button>
        <!-- <button class="btn-custom-btn btn-btn-1" ng-click="reset()">Làm Mới</button> -->
        <button class="btn-custom-btn btn-btn-1" ng-click="showDeleteForm = true" type="button" data-toggle="modal"
            data-target="#exampleModalCenter"> Xóa tài khoản</button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Xác Nhận Xóa Tài Khoản</h5>
                    </div>
                    <div class="modal-body" >
                        <input type="password" ng-model="passwordToDelete" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="modal-footer">
                        <button ng-click="confirmDelete()" class="btn-custom-btn btn-btn-1">Xóa tài
                            khoản</button>
                        <button ng-click="cancelDelete()" class="btn-custom-btn btn-btn-1" data-dismiss="modal" >Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form nhập mật khẩu xóa tài khoản -->
    </form>
</div>