<div class="card">
    <div class="card-header"
        style="font-weight: 600; font-size: large; background-color: cornflowerblue; color: white;">
        CẬP NHẬT TÀI KHOẢN NGƯỜI DÙNG</div>
    <div class="card-boby">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 mt-3">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Tài Khoản</div>
                        <input ng-model="form.username" class="form-control" style="width: 95%;">
                        <div class="error-message" ng-show="showInputError && !form.username" style="color: red;">
                            Vui lòng nhập Tài Khoản !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMaxLength(form.username, 30)" style="color: red;">
                            Không nhập quá 30 ký tự !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMinLength(form.username, 5)" style="color: red;">
                            Tài Khoản ít nhất 6 kí tự !
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Mật Khẩu</div>
                        <input type="password" ng-model="form.password" class="form-control" style="width: 95%;">
                        <div class="error-message" ng-show="showInputError && !form.password" style="color: red;">
                            Vui lòng nhập Mật Khẩu !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMaxLength(form.password, 30)" style="color: red;">
                            Không nhập quá 30 ký tự !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMinLength(form.password, 6)" style="color: red;">
                            Mật Khẩu ít nhất 6 kí tự !
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Họ Và Tên</div>
                        <input ng-model="form.name" class="form-control" style="width: 95%;">
                        <div class="error-message" ng-show="showInputError && !form.name" style="color: red;">
                            Vui lòng nhập Họ Và Tên !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMaxLength(form.name, 30)" style="color: red;">
                            Không nhập quá 30 ký tự !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMinLength(form.name, 6)" style="color: red;">
                            Họ Và Tên ít nhất 6 kí tự !
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Email</div>
                        <input type="email" ng-model="form.email" class="form-control" style="width: 95%;">
                        <div class="error-message" ng-show="showInputError && !form.email && !isValidEmail(form.email)" style="color: red;">
                            Vui lòng nhập đúng định dạng Email !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMaxLength(form.email, 30)" style="color: red;">
                            Không nhập quá 30 ký tự !
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Số Điện Thoại</div>
                        <input type="text" ng-model="form.sdt" class="form-control" style="width: 95%;">
                        <div class="error-message" ng-show="showInputError && !form.sdt" style="color: red;">
                            Vui lòng nhập Số Điện Thoại !
                        </div>
                        <div class="error-message" ng-show="showInputError && !checkPhoneNumberFormat(form.sdt)" style="color: red;">
                            Số Điện Thoại không đúng định dạng!
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Giới Tính</div>
                        <br>
                        <input type="radio" id="true" ng-model="form.gender" name="gender" value="true" ng-checked="form.gender == 1">
                        <label for="true">Nam</label>
                        <input type="radio" id="false" ng-model="form.gender" name="gender" value="false" ng-checked="form.gender == 0">
                        <label for="false">Nữ</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <div style="font-weight: 500;">Địa chỉ</div>
                        <input type="text" ng-model="form.address" class="form-control" style="width: 200%;">
                        <div class="error-message" ng-show="showInputError && !form.address" style="color: red;">
                            Vui lòng nhập Địa chỉ !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMaxLength(form.address, 120)" style="color: red;">
                            Không nhập quá 120 ký tự !
                        </div>
                        <div class="error-message" ng-show="showInputError && checkMinLength(form.address, 10)" style="color: red;">
                            Địa chỉ ít nhất 10 kí tự !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-click="checkUsernameExistence(form.username)||create()" class="btn" ng-disabled="createBtn">
            <i class="fa fa-plus" aria-hidden="true"></i> Thêm
        </button>
        <button ng-click="checkUsernameExistence(form.username)||update()" class="btn" ng-disabled="updateBtn">
            <i class="fa fa-stack-overflow" aria-hidden="true"></i> Cập nhật
        </button>
        <button ng-click="delete(form)" class="btn" ng-disabled="updateBtn">
            <i class="fa fa-trash" aria-hidden="true"></i> Xóa
        </button>
        <button ng-click="reset()" class="btn btn-info">
            <i class="fa fa-refresh" aria-hidden="true"></i> Làm mới
        </button>
    </div>
</div>
