<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main ng-controller="seatSelectCtrl">
        <div class="container-fluid row">
            <div class="col-2"></div>
            <div class="cinema-room col-6">
                <h1>Chọn ghế xem phim</h1>
                <div class="showtimes">
                    <p class="showtime-label">Đổi Xuất Chiếu:</p>
                    <button class="showtime-button" ng-repeat="showtime in showtimes" ng-click="selectShowtime(showtime)">{{showtime}}</button>
                </div>
                <div class="screen">Màn hình</div>
                <div class="seating-container">
                    <div class="seats">
                        <div class="seat" ng-class="{'selected': isSeatSelected(seat), 'available': isSeatAvailable(seat)}" 
                            ng-repeat="seat in seats" ng-click="toggleSeat(seat)">{{seat}}</div>
                    </div>
                    <div class="legend">
                        <div class="legend-item occupied">
                            <div class="legend-item-icon"></div>
                            <div class="legend-item-text">Ghế đã đặt: <span>{{selectedSeats.length}}</span></div>
                        </div>
                        <div class="legend-item available">
                            <div class="legend-item-icon"></div>
                            <div class="legend-item-text">Ghế còn trống: <span>{{availableSeats}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="booking-summary col-2">
                <img src="" alt="Tên phim" class="movie-image">
                <h2>Tên phim</h2>
                <p>Rạp số: 1</p>
                <p>Suất chiếu: {{selectedShowtime}}</p>
                <p>Tổng giá tiền: {{selectedSeats.length * pricePerSeat}} VNĐ</p>
                <button id="back-button" class="action-button" ng-click="goBack()">Quay lại</button>
                <button id="continue-button" class="action-button" ng-click="continueBooking()">Tiếp tục</button>
            </div>
            <div class="col-2"></div>
        </div>
    </main>
</div>