<div class="card">
    <div class="card-header"
        style="font-weight: 600; font-size: large; background-color: cornflowerblue; color: white;">
        ORDERS LIST</div>
    <table class="table table-condensed">
        <thead class="bg-success" style="font-variant: small-caps;">
            <tr>
                <th>Id</th>
                <th>USERNAME</th>
                <th>CREATE DATE</th>
                <th>DETAILS</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pager.items">
                <td>{{item.id}}</td>
                <td>{{item.account.username}}</td>
                <td>{{item.buyDate | date : 'dd-MM-yyyy'}}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="view(item)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Hóa Đơn Chi Tiết</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <table class="col-10">
                                            <tr >
                                                <td>Tên Người Mua: <Strong>{{form.account.name}}</Strong></td>
                                                <td>Tên Phim: <strong>{{details1[0].ticket.movie.name}}</strong></td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Số Lượng Vé: <strong>{{details1.length}}</strong></td>
                                                <td>Ngày Mua: <strong>{{form.buyDate | date : 'dd-MM-yyyy'}}</strong></td>
                                            </tr>
                                            <tr>
                                               
                                                <td>Tổng tiền: <strong> {{totalTicketPrice}} VNĐ</strong></td>
                                                <td>Địa chỉ Email: <strong>{{form.ticket.movie.name}}</strong></td>
                                            </tr>
                                        </table>
                                        <div class="col-1"></div>
                                    </div>
                                    <strong>Chi tiết: </strong>
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>ID</th>
                                                <th>Seat</th>
                                                <th>MOVIE</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in details1" ng-init="updateTotalTicketPrice()">
                                                <td>{{item.id}}</td>
                                                <td>{{item.seat.name}}</td>
                                                <td>{{item.ticket.movie.name}}</td>
                                                <td>{{item.ticket.price}} VNĐ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>



            </tr>
        </tbody>
    </table>
    <div class="card-footer text-center">
        <button ng-click="pager.first()" class="btn btn-danger">
            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
        </button>
        <button ng-click="pager.prev()" class="btn btn-primary">
            <i class="fa fa-hand-o-left" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default">{{pager.page + 1}} of {{pager.count}}</button>
        <button ng-click="pager.next()" class="btn btn-success">
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        </button>
        <button ng-click="pager.last()" class="btn btn-info">
            <i class="fa fa-hand-o-down" aria-hidden="true"></i>
        </button>
    </div>
</div>