<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" xmlns:th="http://www.thymeleaf.org">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="" align="center">
        <h4 class="modal-title" id="myModalLabel"><strong>Đăng nhập</strong> </h4>
      </div>
      <div class="modal-body">
          <form class="form-register row">
              <div class="col-12">
                  <div class="form-group">
                    <input type="text"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tên đăng nhập">
                    <small id="helpId" class="form-text">Tên đăng nhập</small>
                  </div>
              </div>
              <div class="col-12">
                  <div class="form-group">
                    <input type="password"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="Mật khẩu">
                    <small id="helpId" class="form-text">Mật khẩu</small>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Đăng nhập</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Quên mật khẩu</button>
      </div>
    </div>
  </div>
</div>